#title{
    color:green;
    text-decoration: none;
}
body{
    margin:0px;
}
h1{font-size: 70px;
    text-align: center;
    border-left: 5px solid pink;
    border-top: 5px solid pink;
    border-right: 5px solid pink;
    margin:0px;
    padding:70px;
    }
#list{
    width:200px;
    border-right: 5px solid pink;
    padding:20px;
    margin:0px;
}
#grid{
    border-top:5px solid pink;
    display: grid;
    grid-template-columns: 240px 1fr;
}
#list h2 a{color:olivedrab;
    text-decoration: none;}
#list ul a{
    color:gray;
    text-decoration: dotted;
}
#article{
    padding:20px;
}
#article p{
    color:gray
}
@media(max-width:950px){
    #grid{
        display:block;
    }
    #list{
        border-right:none;
    }
    h1{
        border:none;
    }
}
@media(min-width:950px){
    #article{
        text-align:center;
        list-style-position: inside;
    }
}